body {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.style-a {
    color: blue;
}

.style-a:hover {
    color: blue;
}

.font-italic {
    font-style: italic !important;
}