body {
    padding: 10px;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.style-a {
    color: blue;
}

.style-a:hover {
    color: blue;
}

.font-italic {
    font-style: italic !important;
}

.plain-text {
    text-decoration: none;
    color: black;
}

.plain-text:hover {
    color: black;   
}